@{
    ViewData["Title"] = "Dashboard";
}

<div class="row justify-content-center">
    <div class="card shadow-lg rounded-4" style="max-height: 800px; width: 90%;">
        <div class="card-header">
            <h4>Engine Efficiency</h4>
        </div>
        <div class="card-body">
            <div id="chart-profile-visit"></div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="card shadow-lg rounded-4" style="max-height: 800px; width: 90%;">
        <div class="card-header">
            <h4>Engine Output HP</h4>
        </div>
        <div class="card-body">
            <div id="chart-profile-visit1"></div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="card shadow-lg rounded-4" style="max-height: 800px; width: 90%;">
        <div class="card-header">
            <h4>Engine RPM</h4>
        </div>
        <div class="card-body">
            <div id="chart-profile-visit2"></div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="card shadow-lg rounded-4" style="max-height: 800px; width: 90%;">
        <div class="card-header">
            <h4>Engine Type</h4>
        </div>
        <div class="card-body">
            <div id="chart-visitors-profile"></div>
        </div>
    </div>
</div>